<h1>All Quotes</h1>

<ul class="list-group">
 <% locals.quotes.forEach((quote) => { %>
  <li class="list-group-item">
    <a href="/quotes/<%= quote.id %>"><h3><%= quote.quote %></h3></a>
    <p>
      <%= quote.author %><br>
      <%= quote.year %>
    </p>
  </li>
 <% }) %>
</ul>
