main {
  padding-top: 30px;
}

div.buttons {
  margin-top: 15px;
}

form.delete {
  display: inline;
}

h1 {
  margin: 40px;
  text-align: center;
}

nav {
  background-color: rgba(130, 0, 160, 0.5);
}

nav> a {
  color: black;
}

nav>ul>li>a {
  color: white;
  padding: 20px;
}

.list-group-item > a, h3 {
  color: rgba(50, 0, 180, 1);
  font-size: 27px;
}

.list-group-item > p, h5 {
  color: black;
}
