<ul class="nav nav-pills nav-justified">
  <li class="nav-item" style="width: 33%;">
    <a class="nav-link"   href="/">Home</a>
  </li>
  <li class="nav-item" style="width: 33%;">
    <a class="nav-link" style="background-color: red; color: white;" href="/donald">Donald</a>
  </li>
  <li class="nav-item" style="width: 33%;">
    <a class="nav-link" style="background-color: blue; color: white;" href="/hilary">Hilary</a>
  </li>
</ul>
