<p>Professor Pyg is a perfectionist. Dissatisfied and unimpressed with the current range of pig latin translation sites available on the web, he is happy to reveal Professor Pyg's Pyg Latin Translator. Enter words in English below and behind the bloody curtain, the dear professor will hack away at the ugly words before reintroducing them to you in beautiful Pyg form.</p>

<form action="/translation" method="post">
  <div id="form">
    <input id="input1" type="text" name="words" value="">
    <button name="button">Translate</button>
  </div>
</form>
