/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*/

@import "bootstrap";

body {
  text-align: center;
}

li {
  list-style-type: none;
}

.navbar {
  background: white;
  border-bottom: 2.5px solid #333333;
  color: #333333;
  a {
    color: #333333;
  }
}

.big {
  background: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid lightgrey;
  border-radius: 10px;
}

.mynav {
  display: inline;
}

//homepage
.homebg {
  background-image: url("http://www.saic.edu/150/sites/default/files/Jeff-Koons-balloondog_blue_KUB-feature.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.homehead {
  text-align: left;
  padding-left: 30px;
  a{
    color: #333333;
  }
  a:hover {
    color: #0275d8;
    text-decoration: none;
  }
}

//galleriesIndex

.galleryCard {
  padding: 10px;
  margin-top: 20px;
  a {
    color: #333333;
  }
  img {
    padding: 10px;
  }
}
