/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*/

@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #3366ff;
}

li {
  margin-left: -38px;
  list-style-type: none;
}

// .navbar {
//   li {
//     margin-left: 38px;
//   }
//   background: #3366ff;
//   // border: 2.5px solid #333333;
//   color: white;
//   a {
//     color: white;
//   }
// }

.navbar {
  li {
    padding: 0px 95px 0px 95px;
  }
  #logo {
    font-weight: bolder;
    font-size: 25px;
    a {
      color: #3366ff;
    }
    :hover {
      color: #333333;
    }
  }
  background: white;
  border-bottom: 2.5px solid #3366ff;
  color: #333333;
  a {
    color: #333333;
  }
  a:hover {
    color: #3366ff;
    text-decoration: none;
  }
}

.big {
  background: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid lightgrey;
  border-radius: 10px;
}

.mynav {
  display: inline;
}

//homepage
.homebg {
  background-image: url("http://www.saic.edu/150/sites/default/files/Jeff-Koons-balloondog_blue_KUB-feature.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.homehead {
  text-align: left;
  padding-left: 30px;
  text-shadow: 3px 3px 3px #999999;
  a{
    color: #333333;
  }
  a:hover {
    color: #3366ff;
    text-decoration: none;
  }
}

//galleriesIndex

.galleryCard {
  padding: 10px;
  margin-top: 20px;
  a {
    color: #333333;
  }
  img {
    padding: 10px;
  }
}
