<section class="row">
  <form ng-submit="plantsNew.plantsCreate()">
    <div class="twelve columns">
      <label>Species</label>
      <input type="text" name="species" placeholder="Species" ng-model="plantsNew.plant.species" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Variety</label>
      <input type="text" name="variety" placeholder="Variety" ng-model="plantsNew.plant.variety" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Hardy</label>
      <input type="text" name="hardy" placeholder="Please enter true or false" ng-model="plantsNew.plant.hardy" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Price</label>
      <input type="text" name="price" placeholder="eg. £10.99" ng-model="plantsNew.plant.price" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Image</label>
      <input type="text" name="image" placeholder="Image url" ng-model="plantsNew.plant.image" class="u-full-width">
    </div>

    <button>Add plant</button>
  </form>
</section>
