<h1>Donald</h1>
<div class=container style="width: 800px; margin: 0 auto;">
<div class="row">
  <div class="col-sm-9">
    <div class="card" style="width: 800px; margin: 0 auto;">
      <img class="card-img-top" src="./images/duck.jpg" style="width: 100%;" alt="donald">
      <div class="card-block">
        <h4 class="card-title">Donald</h4>
        <p class="card-text">Donald is an ignorant, angry, spiteful duck...and proud of it! He plans to build ceiling over America so none of his rival feathered species can enter the country. </p>
        <a href="#" class="btn btn-primary">I'm voting Donald!</a>
      </div>
    </div>
  </div>
</div>
</div>
