<h1>Hilary</h1>
<div class=container style="width: 800px; margin: 0 auto;">
    <div class="row">
      <div class="col-sm-9">
        <div id="duff" class="card" style="width: 800px; margin: 0 auto;">
          <img class="card-img-top" src="./images/duff.jpg" style="width: 100%;" alt="donald">
          <div class="card-block">
            <h4 class="card-title">Hilary</h4>
            <p class="card-text">Hilary is a shrill, irritating woman, posessing an elevated sense of self and questionable double standards. She doesn't want to build a dome though...</p>
            <a href="#" class="btn btn-primary">I'm voting Hilary!</a>
        </div>
      </div>
    </div>
  </div>
</div>
