<div class="container">
  <h1 >Latest Poll Ratings</h1>
  <ul class="list-group">
  <li class="list-group-item">
    <span style="background-color: #0000ff" class="tag tag-default tag-pill pull-xs-right">51%</span>
    Hilary
  </li>
  <li class="list-group-item">
    <span style="background-color: #ff0000" class="tag tag-default tag-pill pull-xs-right">40%</span>
    Donald
  </li>
  <li class="list-group-item">
    <span style="background-color: #ff9900" class="tag tag-default tag-pill pull-xs-right">7%</span>
    Some Libertarian dude
  </li>
  <li class="list-group-item">
    <span style="background-color: #00cc00
" class="tag tag-default tag-pill pull-xs-right">2%</span>
    That other woman
  </li>
</ul>
</div>
