<div class="homebg">

<a href="/galleries"><h1 class="homehead" style="padding-top: 220px;">All Galleries</h1></a>
<a href="/exhibitions"><h1 class="homehead" style="padding-top: 260px;">All Exhibitions</h1></a>


</div>
