<div class="homebg">

<h1 class="homehead" style="padding-top: 220px;"><a href="/galleries">All Galleries</a></h1>
<h1 class="homehead" style="padding-top: 260px;"><a href="/exhibitions">All Exhibitions</a></h1>


</div>
