
<div class="jumbotron">
  <h1 class="display-3">Tindersaurus is here!</h1>
  <p class="lead">This is <em>THE</em> place for sexy, single dinosaurs to get to know each other.</p>
  <hr class="my-2">
  <p>Click the button below to start meeting single dinosaurs on Tindersaurus right now!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/tinder/index" role="button">Show me single Dinos!</a>
  </p>
</div>
