@import url('https://fonts.googleapis.com/css?family=Bungee');


body {
  /*background-color: pink;*/
  background-image: url("http://cdn.pcwallart.com/images/gradient-wallpaper-2.jpg");
  font-family: Helvetica, sans-serif;
}

#form {
  margin-top: 75px;
  height: 300px;
}

#input1 {
  margin: 0px 65px 0px 65px;
  display: inline;
  width: 90%;
  height: 100px;
  font-size: 80px;
  border-radius: 20px;
}

button {
  margin-top: 20px;
  margin-left: 580px;
 height: 100px;
  width: 250px;
  font-size: 30px;
  background: linear-gradient(#cc0052, pink);
  color: white;
  font-family: 'Bungee', cursive;

  font-weight: 400;
  border-radius: 20px;
}

.heading {
  margin: 0 auto;
  text-align: center;
  background-color: white;
  height: 200px;
  border: 10px solid #ff1a8c;
}

img {
  width: 200px;
  height: 200px;
  float: left;
}

h1 {
  margin-top: -50px;
  font-size: 80px;
  font-family: 'Bungee', cursive;
  color: #ff1a8c;
  text-shadow: 5px 5px 5px #888888;
}
h5 {
  padding-top: -45px;
  color: #ff1a9f;
  font-family: 'Bungee', cursive;

  text-shadow: 5px 5px 5px #888888;
  font-size: 25px;
}

p {
  margin-top: 65px;
  font-size: 20px;
  color: white;
  font-weight: 400;
  text-align: center;
}

.answer {
  margin-top: 150px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 80px;
  font-family: 'Bungee', cursive;
  color: white;
  text-shadow: 5px 5px 5px #888888;

}
